<div class="container">
    <div class="jumbotron mt-3 rounded">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">

                <img id="main-gif"
                    src="https://media0.giphy.com/media/l3mDrqQeUk6fC/giphy.gif?cid=790b76115cbe5e326e4d526332447687"
                    alt="animated bouncing burger">
                <br />
                <p class="lead display-1">Eat-Da-Burger!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="row">
                    {{#each data}}
                    {{#unless this.devoured}}
                    <div class="col-md-9 text-right mt-2">
                        {{this.id}}. {{this.burger_name}}
                    </div>
                    <div class="col-md-3 text-left">
                        <form action="/update?_method=PUT" method="POST">
                            <input type="hidden" type="text" autocomplete="off" name="id" value={{this.id}}>
                            <button type="submit" class="btn btn-warning mb-1 rounded">CRUSH IT!</button>
                        </form>
                    </div>
                    {{/unless}}
                    {{/each}}
                </div>
            </div>
            <div class="col-md-6 text-center">
                {{#each data}}
                {{#if this.devoured}}
                <div class="list-group-item list-group-item-action disabled">{{this.id}}.
                    <span class="text-info">{{this.burger_name}}</span> has been
                    <span class="text-danger"> crushed!</span>

                </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</div>